<header>

    <div class="head">
      <img src="https://cdn-icons-png.flaticon.com/128/5140/5140046.png" alt="Logo de la boutique" class="logo">
      <h1>𝐒𝐭✰𝐫𝐠𝐢𝐫𝐥 <br> 𝑩𝒀 𝑵♡𝑼𝑹</h1>
    </div> 
    <ul class="menu">
      <li><a routerLink="/" routerLinkActive="active">Acceuil</a></li>
      <li><a routerLink="">Catégories</a>
        <ul class="sousmenu">
          <li><a routerLink="/sac" routerLinkActive="active">Sacs à main</a></li>
          <li><a routerLink="/manteau" routerLinkActive="active">manteaux</a></li>
          <li><a routerLink="/outf" routerLinkActive="active">Outfits</a></li>
        </ul>
      </li>
      <li><a routerLink="/insc" routerLinkActive="active">Inscription</a>
      </li>
      <li><a routerLink="/connex">Connexion</a>
      </li>
      <li><a routerLink="/commander" routerLinkActive="active">Commander</a></li>
      <li><a routerLink="/cant" routerLinkActive="active">Contact</a></li>
      
    </ul></header>
    <router-outlet></router-outlet>
 
  