<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>À propos de nous</h3>
        <p>
          Merci de visiter notre boutique. Chez <strong>𝐒𝐭✰𝐫𝐠𝐢𝐫𝐥</strong>, nous nous engageons à offrir des produits de qualité et une expérience unique.
        </p>
      </div>
  
      <div class="footer-section">
        <h3>Contactez-nous</h3>
        <ul>
          <li>Email : <a href="mailto:support@vibesfeminines.com">support : StartGirl.com</a></li>
          <li>Téléphone : +216 58 996 699</li>
          <li>Adresse : Rue Farhat Hashed ,Tozeur 2200 , Tunisie</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>Suivez-nous</h3>
        <div class="social-links">
          <a href="https://www.facebook.com" target="_blank">Facebook</a>
          <a href="https://www.instagram.com" target="_blank">Instagram</a>
          <a href="https://www.twitter.com" target="_blank">Twitter</a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2024 𝐒𝐭✰𝐫𝐠𝐢𝐫𝐥 By Nour. Tous droits réservés.</p>
    </div>
  </footer>
  
