<div class="sacs">
    <div class="sac">
        <img src="https://i.pinimg.com/736x/9a/2a/cb/9a2acb1d6b492b36d0d29877316d41a4.jpg" alt="Manteau long classique" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Total look Classy 🤑 </h2>
            <p class="sac-brand">Marque : bershka</p>
            <p class="sac-price">Prix : 400.9 DT</p>
            <p class="sac-brand">Couelurs disponibles pour le pontalon </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #f5f5f5;"></div>
                <div class="cercle" style="background-color: #7f8b81;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander"> Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/50/e8/65/50e865ead3a4ce53f6e00fce4c5e6840.jpg" alt="Manteau en laine stylé" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Total look d'hiver 🥶</h2>
            <p class="sac-brand">Marque : Bershka</p>
            <p class="sac-price">Prix : 400 DT</p>
            <p class="sac-brand">Couelurs disponibles pour le manteau </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #f5f5f5;"></div>
                <div class="cercle" style="background-color: #60530ce6;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/b2/e7/57/b2e75765df985353b2221c9cad7f04e3.jpg" alt="Manteau d'hiver épais" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Total look 😎</h2>
            <p class="sac-brand">Marque : Bershka</p>
            <p class="sac-price">Prix : 390 DT</p>
            <p class="sac-brand">Couelurs disponibles le manteau  </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #f5f5f5;"></div>
                <div class="cercle" style="background-color: #5b785d;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/ef/50/68/ef5068261a681f60d5002bc33e08d1a9.jpg" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Total classy look 🖤</h2>
            <p class="sac-brand">Marque : Uniqlo</p>
            <p class="sac-price">Prix : 500 DT</p>
            <p class="sac-brand">Couelurs disponibles pull </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #8b4513;"></div>
                <div class="cercle" style="background-color: #f5f5f5;"></div>
                <div class="cercle" style="background-color: #000;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
</div>

<div class="sacs">
    <div class="sac">
        <img src="https://i.pinimg.com/474x/95/a1/4d/95a14dfe3fbabcccd7012b187d332ebb.jpg" alt="Manteau en laine bouillie" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Crazy outfit 🫠 </h2>
            <p class="sac-brand">Marque :Brshka </p>
            <p class="sac-price">Prix : 280 DT</p>
           
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/474x/be/3f/22/be3f221f826bd4a2af095da2032a3cce.jpg" alt="Manteau doudoune" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Casual outfit 🥰 </h2>
            <p class="sac-brand">Marque : Zara</p>
            <p class="sac-price">Prix : 200 DT</p>
            <p class="sac-brand">Couelurs disponibles de chemise </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #2d7ec1;"></div>
                <div class="cercle" style="background-color: #bd1a81;"></div>
                <div class="cercle" style="background-color: #897a2f;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/236x/ad/2d/98/ad2d98f0a19b1d4a327bbfab7bb2bd66.jpg" alt="Manteau en tweed" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Bold look 🫢</h2>
            <p class="sac-brand">Marque : Chanel</p>
            <p class="sac-price">Prix : 850 DT</p>
            <p class="sac-brand">Couelurs disponibles blazer </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #a9a9a9;"></div>
                <div class="cercle" style="background-color: #d3d3d3;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/474x/cd/8c/d6/cd8cd6bba9cdacc9a8b6434271008784.jpg" alt="Manteau en laine oversize" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Trendy outfit 😉</h2>
            <p class="sac-brand">Marque : Zara</p>
            <p class="sac-price">Prix : 360 DT</p>
            
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
</div>

<div class="sacs">
    <div class="sac">
        <img src="https://i.pinimg.com/736x/54/46/06/544606e4b1cdaa26f9e0c69e8cf7f6ae.jpg" alt="Manteau classique à double boutonnage" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">French girl outfit 🥹 </h2>
            <p class="sac-brand">Marque : Gucci</p>
            <p class="sac-price">Prix : 600 DT</p>
            
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://th.bing.com/th/id/OIP.F0e2QPG8OMSOS6JwP6NB2gHaLH?rs=1&pid=ImgDetMain" alt="Manteau long en laine" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Posé outfit 😼</h2>
            <span class="emoji-tn"></span>
            <img src="https://i.pinimg.com/736x/c7/1c/fc/c71cfc9b2ef656f07781af7c45b668f6.jpg" alt="Drapeau Tunisie" class="image-drapeau">
            <p class="sac-brand">Marque : ZEN </p>
            <p class="sac-price">Prix : 269.9 DT</p>
            
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/474x/c1/b8/db/c1b8dbcdbd9e582175b99c8de18daaff.jpg" alt="Manteau à capuche" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Total look 🤩</h2>
            <p class="sac-brand">Marque : zara + bershka</p>
            <p class="sac-price">Prix : 400 DT</p>
            <p class="sac-brand">Couelurs disponibles de pull </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #6c6440;"></div>
                <div class="cercle" style="background-color: #4c190b;"></div>
                <div class="cercle" style="background-color: #d3d3d3;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/474x/ad/78/7f/ad787f5893f5b663474093698b31817a.jpg" alt="Manteau à capuche" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Classy outfit 😃</h2>
        
            <p class="sac-brand">Marque : Fashionista </p>
            <p class="sac-price">Prix : 300.9 DT</p>
            
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
</div>
