<div class="sacs">
    <div class="sac">
        <img src="https://i.pinimg.com/736x/24/6f/9b/246f9bca9a168385587c10a1238a7f0d.jpg" alt="Sac à main élégant en cuir" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac à main élégant en cuir</h2>
            <p class="sac-brand">Marque : Chanel</p>
            <p class="sac-price">Prix : 250 DT</p>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div c
    lass="sac">
        <img src="https://i.pinimg.com/736x/9c/7b/18/9c7b1803a744eab95c663ba8d645c4b1.jpg" alt="Sac en daim moderne" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac en daim moderne</h2>
            <p class="sac-brand">Marque : Louis Vuitton</p>
            <p class="sac-price">Prix : 300 DT</p>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/67/06/52/6706525aed23dc5fa72e67e92a044404.jpg" alt="Sac artisanal tunisien" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac artisanal tunisien</h2>
            <img src="https://i.pinimg.com/736x/c7/1c/fc/c71cfc9b2ef656f07781af7c45b668f6.jpg" alt="Drapeau Tunisie" class="image-drapeau">
            <p class="sac-brand">Marque : L'Artisan</p>
            <p class="sac-price">Prix : 150 DT</p>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/236x/1c/03/1c/1c031ca7df3346660b7050726bd5999e.jpg" alt="Sac traditionnel Ettounsi" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac traditionnel</h2>
            <img src="https://i.pinimg.com/736x/c7/1c/fc/c71cfc9b2ef656f07781af7c45b668f6.jpg" alt="Drapeau Tunisie" class="image-drapeau">
            <p class="sac-brand">Marque : Ettounsi</p>
            <p class="sac-price">Prix : 180 DT</p>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
  </div>
  
  <div class="sacs">
    <div class="sac">
        <img src="https://i.pinimg.com/736x/4d/df/e6/4ddfe6cd7548d0d6cfd834160bfc0079.jpg" alt="Panier Justine" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Panier Justine</h2>
            <img src="https://i.pinimg.com/736x/c7/1c/fc/c71cfc9b2ef656f07781af7c45b668f6.jpg" alt="Drapeau Tunisie" class="image-drapeau">
            <p class="sac-brand">Marque : ND</p>
            <p class="sac-price">Prix : 180 DT</p>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://th.bing.com/th/id/OIP.Z9f_mR7qL1CMwtSALoIdywHaJz?rs=1&pid=ImgDetMain" alt="Sac en cuir tunisien" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac en cuir tunisien</h2>
            <img src="https://i.pinimg.com/736x/c7/1c/fc/c71cfc9b2ef656f07781af7c45b668f6.jpg" alt="Drapeau Tunisie" class="image-drapeau">
            <p class="sac-brand">Marque : Rosace</p>
            <p class="sac-price">Prix : 220 DT</p>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/236x/e8/41/06/e841068e6bf6cff6140221b635cd01c6.jpg" alt="Sac brodé tunisien" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac brodé</h2>
            <img src="https://i.pinimg.com/736x/c7/1c/fc/c71cfc9b2ef656f07781af7c45b668f6.jpg" alt="Drapeau Tunisie" class="image-drapeau">
            <p class="sac-brand">Marque : Tunisian Touch</p>
            <p class="sac-price">Prix : 200 DT</p>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/474x/72/68/d6/7268d674d8298558de886b4df462d336.jpg" alt="Sac classique" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac classique</h2>
            <p class="sac-brand">Marque : Gucci</p>
            <p class="sac-price">Prix : 200 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #948e58;"></div>
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #2b4021;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
  </div>
  
  <div class="sacs">
    <div class="sac">
        <img src="https://i.pinimg.com/736x/be/b1/6c/beb16cf183684bee369bdec8330c4e55.jpg" alt="Sac à main en cuir vegan" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac en cuir </h2>
            <p class="sac-brand">Marque : Mango</p>
            <p class="sac-price">Prix : 220 DT</p>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/236x/da/46/7a/da467a3d2285ffd4cb6b462d28ef9128.jpg" alt="Sac en paille artisanale" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac en paille artisanale</h2>
            <img src="https://i.pinimg.com/736x/c7/1c/fc/c71cfc9b2ef656f07781af7c45b668f6.jpg" alt="Drapeau Tunisie" class="image-drapeau">
            <p class="sac-brand">Marque : Créations Tunisiennes</p>
            <p class="sac-price">Prix : 70.9 DT</p>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/23/bc/0e/23bc0ec819f3674a263f63492928e917.jpg" alt="Sac avec chaîne dorée" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac avec chaîne dorée tendance</h2>
            <p class="sac-brand">Marque : Shein</p>
            <p class="sac-price">Prix : 550 DT</p>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/e7/30/e0/e730e000d2d8136ede18994d53ed0095.jpg" alt="Sac avec chaîne dorée" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Sac simple et classique </h2>
            <p class="sac-brand">Marque : Charles  keith </p>
            <p class="sac-price">Prix : 290 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #467b3bc0;"></div>
                <div class="cercle" style="background-color: #2972a6;"></div>
                <div class="cercle" style="background-color: #b8348c;"></div>
                <div class="cercle" style="background-color: #c362c5;"></div>
               
                <div class="cercle" style="background-color: #cebcce;"></div>

            </div>
            
            
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
  </div>
  