<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar> -->

<div class="toolbar">
  <button class="icon-button">
    <img src="https://img.icons8.com/?size=50&id=6AGHyLA8bTw4&format=gif" alt="Home" class="icon">
  </button>
  <button class="icon-button">
    <img src="https://img.icons8.com/?size=50&id=H6C79JoP90DH&format=gif" alt="Search" class="icon">
  </button>
  <button class="icon-button">
    <img src="https://img.icons8.com/?size=50&id=7eX13e1GI7bn&format=gif" alt="Settings" class="icon">
  </button>
  <button class="icon-button">
    <img src="https://img.icons8.com/?size=50&id=ZW2vgTIQ1bkh&format=gif" alt="Notifications" class="icon">
  </button>
  <button class="icon-button">
    <img src="https://cdn-icons-gif.flaticon.com/16104/16104641.gif" alt="Notifications" class="icon">
  </button>
</div>
