body {
  font-family: 'Arial', sans-serif;
  background-color: #864e61;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.c1 {
  background-color: #f7e8f3;
  padding: 30px;
  border-radius: 15px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.c2 {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #f06292;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.example-full-width {
  width: 100%;
  margin-bottom: 15px;
}

.bt {
  padding: 10px;
  background-color: #f06292;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bt:hover {
  background-color: #f48fb1;
}

.message {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 15px;
  color: #ad0a40;
  font-size: 16px;
  font-size: larger;
  font-weight: bold;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
