<div class="sacs">
    <div class="sac">
        <img src="https://i.pinimg.com/474x/b0/72/b5/b072b528ee25875ec082ea5be2bea624.jpg" alt="Manteau long classique" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau long classique</h2>
            <p class="sac-brand">Marque : Zara</p>
            <p class="sac-price">Prix : 320 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #f5f5f5;"></div>
                <div class="cercle" style="background-color: #4b4b4b;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander"> Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/0c/82/02/0c8202f4fe33c1ea62d7c059a75957d3.jpg" alt="Manteau en laine stylé" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau en laine stylé</h2>
            <p class="sac-brand">Marque : Mango</p>
            <p class="sac-price">Prix : 450 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #a52a2a;"></div>
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #f5f5f5;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/88/7b/40/887b402f45e3b6fd90b97773a736a0b3.jpg" alt="Manteau d'hiver épais" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau d'hiver épais</h2>
            <p class="sac-brand">Marque : Bershka</p>
            <p class="sac-price">Prix : 390 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #f5f5f5;"></div>
                <div class="cercle" style="background-color: #4b4b4b;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/9f/f8/72/9ff872eed331e5646e8b9029abaec413.jpg" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau en fausse fourrure</h2>
            <p class="sac-brand">Marque : Uniqlo</p>
            <p class="sac-price">Prix : 500 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #8b4513;"></div>
                <div class="cercle" style="background-color: #f5f5f5;"></div>
                <div class="cercle" style="background-color: #000;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
</div>

<div class="sacs">
    <div class="sac">
        <img src="https://i.pinimg.com/736x/d9/84/54/d98454bf7459f70f1b4dd1429a10cacb.jpg" alt="Manteau en laine bouillie" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau en laine bouillie</h2>
            <p class="sac-brand">Marque : Simons</p>
            <p class="sac-price">Prix : 280 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #7f7f7f;"></div>
                <div class="cercle" style="background-color: #f5f5f5;"></div>
                <div class="cercle" style="background-color: #4b4b4b;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/fd/a9/ee/fda9ee338ad891c9b9dd48f0ffffbec1.jpg" alt="Manteau doudoune" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau doudoune</h2>
            <p class="sac-brand">Marque : Columbia</p>
            <p class="sac-price">Prix : 550 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #ff6347;"></div>
                <div class="cercle" style="background-color: #d3d3d3;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/c2/b3/5c/c2b35c1736fbb7973dfb3e9a8fe5aaa9.jpg" alt="Manteau en tweed" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau en tweed</h2>
            <p class="sac-brand">Marque : Chanel</p>
            <p class="sac-price">Prix : 850 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #a9a9a9;"></div>
                <div class="cercle" style="background-color: #d3d3d3;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/b9/73/e4/b973e4f33ec849ee62c727850720ac2a.jpg" alt="Manteau en laine oversize" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau en laine oversize</h2>
            <p class="sac-brand">Marque : Asos</p>
            <p class="sac-price">Prix : 450 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #d3d3d3;"></div>
                <div class="cercle" style="background-color: #a52a2a;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
</div>

<div class="sacs">
    <div class="sac">
        <img src="https://i.pinimg.com/736x/d6/37/ff/d637ff6758ab939409331865566b00e7.jpg" alt="Manteau classique à double boutonnage" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau classique à double boutonnage</h2>
            <p class="sac-brand">Marque : Massimo Dutti</p>
            <p class="sac-price">Prix : 600 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #fff;"></div>
                <div class="cercle" style="background-color: #796341;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://th.bing.com/th/id/OIP.F0e2QPG8OMSOS6JwP6NB2gHaLH?rs=1&pid=ImgDetMain" alt="Manteau long en laine" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau Femme</h2>
            <span class="emoji-tn"></span>
            <img src="https://i.pinimg.com/736x/c7/1c/fc/c71cfc9b2ef656f07781af7c45b668f6.jpg" alt="Drapeau Tunisie" class="image-drapeau">
            <p class="sac-brand">Marque : ZEN </p>
            <p class="sac-price">Prix : 269.9 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #f5f5f5;"></div>
                <div class="cercle" style="background-color: #8b4513;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://i.pinimg.com/736x/01/fd/86/01fd869f31d1a6508ac5821d6f82750d.jpg" alt="Manteau à capuche" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau à capuche</h2>
            <p class="sac-brand">Marque : Nike</p>
            <p class="sac-price">Prix : 400 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #ff6347;"></div>
                <div class="cercle" style="background-color: #d3d3d3;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
    <div class="sac">
        <img src="https://chillandlit.tn/106962-large_default/manteau-femme.jpg" alt="Manteau à capuche" class="sac-image" />
        <div class="sac-details">
            <h2 class="sac-title">Manteau Femme super tendance</h2>
            <span class="emoji-tn"></span>
            <img src="https://i.pinimg.com/736x/c7/1c/fc/c71cfc9b2ef656f07781af7c45b668f6.jpg" alt="Drapeau Tunisie" class="image-drapeau">
            <p class="sac-brand">Marque : CHILL & LIT</p>
            <p class="sac-price">Prix : 120.9 DT</p>
            <p class="sac-brand">Couelurs disponibles </p>
            <div class="couleurs">
                <div class="cercle" style="background-color: #ff6347;"></div>
                <div class="cercle" style="background-color: #000;"></div>
                <div class="cercle" style="background-color: #d3d3d3;"></div>
            </div>
            <button class="btn-commander" routerLink="/commander">Commander</button>
        </div>
    </div>
</div>
